html(ng-app='express-jade-angularjs', ng-controller='mainCtrl')
  hrad
    link(href='bundle.css', rel='stylesheet')
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
  body
    div {{ message }}
    script(src='bundle.js')
